@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  /* width */
  .dark::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  /* Track */
  .dark::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #270082;
  }

  /* Handle */
  .dark::-webkit-scrollbar-thumb {
    background: #e644a2;
    border-radius: 100vh;
    border: 3px solid #e644a2;
  }

  /* Handle on hover */
  .dark::-webkit-scrollbar-thumb:hover {
    background: #fa58b6;
  }
}
